.mail-preview{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr min-content min-content;
    gap:.5em;
    margin-block-end: 1.5em;

}

.mail-preview .from{
    grid-column: 1/2;
    grid-row: 1/2;overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
}


.mail-preview .lighter{
    font-weight: lighter;

}

.mail-preview .date{
    justify-self: end;
    grid-column: 2/4;

}
.mail-preview .starred.star{
    color: gold;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.mail-preview .star{
    color: rgb(204, 204, 204);
    justify-self: end;
    grid-row: 3/4;
    font-size: 1em;
}

.mail-preview .read-unread{
    color: rgb(204, 204, 204);
    justify-self: end;
    grid-row: 3/4;
    font-size: 1em;
}

.mail-preview .subject{
    grid-row: 2/3;
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */

}
.mail-preview .mail-body{
    grid-row: 3/4;
    font-weight: lighter;
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
}
