.mail-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em 2em;
    gap: 1em;

}
.mail-details .starred.star{
    color: gold;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.mail-details .options {
    justify-self: end;
    display: flex;
    gap: 1em;
    color: rgb(62, 62, 62);

}

.mail-details .subject {
    grid-column: 1/-1;
    /* padding: 0 2em; */

}

.mail-details .from {
    grid-column: 1;
    /* padding: 0 2em; */
}

.mail-details .time {
    justify-self: end;
    font-weight: lighter;

}

.mail-details .mail-body {
    margin-block-start: 1em;
    grid-column: 1/-1;
    font-weight: lighter;
    line-height: 1.3em;
    /* padding: 0 2em; */
}
